<h2>Post</h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.body %>
</p>
<br />

<h2>Comments</h2>
<div id="comments">

<% if @post.comments.empty? %>
    <p>No comments!</p>
<% else %>
    <%= render partial: 'posts/comment', collection: @post.comments %>
<% end %>
</div>

<h3>Add a new Comment</h3>
<%= form_for [@post, Comment.new], :remote => true do |f| %>
    <div class="field">
      <%= f.label :post_id %><br>
      <%= f.number_field :post_id %>
    </div>
    <div class="field">
      <%= f.label :body, "New Comment" %><br>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit "Add Comment"%>
    </div>
<% end %>

<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %> |